 .form-list{
     display: flex;
      flex-direction: column;
      justify-content: center;
       margin-top: 20px;; 
        align-items: center;
          ;
 } 
   .form-list label{
     margin: 10px;;
      
   }
    .form-list input{
           padding: 5px;;
            border-radius: 5px;;
             text-align: center;
              border:  1px solid #ccc;
              
    }
     .form-list button{
          padding: 5px;
           background-color: #0077cc;
            border: none;
           
     }
      
      .ul-list li{
       display: flex;
        list-style-type: none;
           justify-content: space-between;
            align-items: center; 
             margin: 10px;
              padding: 10px;;
      }
       .ul-list li h2{
         margin: 20px;;
       }
        .ul-list li button{
             background-color: #0077;
              
        }